@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
h1 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 40px;
  font-weight: 0, 700;
  color: rgb(243, 235, 235);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 12px;
  font-weight: 0, 700;
  color: rgb(243, 235, 235);
  text-align: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 40px;
  font-weight: 0, 700;
  color: rgb(47, 79, 52);
  text-align: center;
}

div article p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 1, 300;
  color: rgb(243, 235, 235);
}

.botonera {
  background-color: #1c1c1c;
  display: flex;
  border: solid 1px black;
  height: auto;
  flex-direction: row;
}
.botonera img {
  width: 100px;
}
.botonera li a {
  color: rgb(243, 235, 235);
  text-decoration: none;
  margin-right: 55px;
  font-weight: 0, 700;
  font-style: italic;
  font-size: 40px;
}
.botonera li a:hover {
  color: rgb(102, 69, 28);
}

body {
  background-image: url(../img/background.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

#centrar {
  display: flex;
  justify-content: center;
}

#abajo {
  display: flex;
  align-items: flex-end;
}

main div {
  margin-top: 20px;
  margin-bottom: 20px;
}

main div p {
  color: rgb(47, 79, 52);
  font-size: 40px;
  font-weight: 0, 700;
}

.anchofotos {
  width: 66%;
}

.borderform {
  margin: 10px;
  border: dashed rgb(102, 69, 28) 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: rgb(102, 69, 28);
  font-weight: 0, 700;
  font-size: 40px;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

svg {
  width: 100px;
  margin-right: 1em;
  height: auto;
  fill: rgb(102, 69, 28);
}

.btn-color, .skew:hover {
  background-color: rgb(102, 69, 28);
  border: solid rgb(243, 235, 235);
}

.skew:hover {
  transform: skew(-45deg);
  transition: all 1s;
  cursor: pointer;
}

.contenedor-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (width < 700px) {
  .iconos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div article p {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 1, 300;
    color: rgb(243, 235, 235);
  }
}
@media (width < 500px) {
  #maps {
    display: flex;
    width: 90%;
    justify-content: center;
  }
  .iconosredes svg {
    width: 50px;
    margin-top: 10px;
  }
  .iconosredes {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }
  div article p {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 1, 300;
    color: rgb(243, 235, 235);
  }
}
@media (width < 908px) and (width > 700px) {
  .iconosredes {
    display: flex;
    flex-direction: column;
  }
}
@media (width < 992px) {
  .centrarfotos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */
