@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
*{font-family: 'Roboto', sans-serif;}


body{
    background-image: url(../img/background.png);
    background-repeat: repeat;
    background-attachment: fixed;
   
   
}



h1{
    color: rgb(243, 235, 235);
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}
h2{
    color: rgb(102, 69, 28);  
    font-size: 20px;
}
h3{
    color: rgb(147, 143, 150);
    font-size: 17px;
}
h4{
    color: rgb(133, 125, 133);
    font-size: 14px;
 
    
}
h5{
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: white;
}


.botonera li a{
    color: black;
    text-decoration: none; 
    font-weight: 700; 
    font-size: 30px;
    margin-right: 55px;
    
    
}

.botonera{
    display: flex;
    background-color: #1c1c1c;
    border: solid 1px black;
    height: auto;
    flex-direction: row;
    }
 
.botonera img{
    width: 100px;
}




#centrar{
    
    display: flex;
    justify-content: center;
    
}

#abajo{
    display: flex;
    align-items: flex-end;
}

main div{
    margin-top: 20px;
    margin-bottom: 20px;
}

main div p{
    color: darkslategrey;
    font-size: large;
    font-weight: 700;
}

.anchofotos{
    width: 66%;
}

.borderform{
    margin: 10px;
    border: dashed rgb(102, 69, 28) 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

label{
    color:rgb(102, 69, 28);
    font-weight: 700; 
    font-size: 30px;
}    

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

svg{
    width: 100px;
    height: auto;
}



@media (width<700px){
 
    .iconos{
        display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    }
}

@media (width<500px) {
    #maps{
        display: flex;
        width: 90%;
        justify-content: center;
       }
    .iconosredes svg{
        width: 50px;
        margin-top: 10px;
      
    }

    .iconosredes{
        display: flex;
        
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (width<908px) and (width>700px){
    .iconosredes{
        display: flex;
        flex-direction: column;
    }
}

@media (width<992px) {
    .centrarfotos{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }


}

