body{
    background-image: url(../img/background.png);
    background-repeat: repeat;
    background-attachment: fixed;
   }


#centrar{
    
    display: flex;
    justify-content: center;
    
}

#abajo{
    display: flex;
    align-items: flex-end;
}

main div{
    margin-top: 20px;
    margin-bottom: 20px;
}

main div p{
    color: $colorcontraste;
    font-size: $textxl;
    font-weight: $fontbold;
}

.anchofotos{
    width: 66%;
}

.borderform{
    margin: 10px;
    border: dashed $secondarycolor 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

label{
    color: $secondarycolor;
    font-weight: $fontbold; 
    font-size: $textxl;
}    

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

svg{
    width: 100px;
    height: auto;
    fill: $secondarycolor;
    
}