@mixin textos($size,$weight,$color)
{
    font-family: $mainfont;
    font-style: $mainstyle;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

h1{
    @include textos($textxl,$fontbold,$colorclaro);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; 
    }

h2{
    @include textos($textxs,$fontbold,$colorclaro);
    text-align: center;
   }

h3{
    @include textos($textxl,$fontbold,$colorcontraste);
    text-align: center;
}



div article p{
    @include textos($textlg,$fontlight,$colorclaro);
    }