//colors

$maincolor: #1c1c1c;
$secondarycolor:rgb(102, 69, 28); 
$colorclaro: rgb(243, 235, 235);
$coloroscuro: rgb(147, 143, 150);
$colorcontraste: rgb(47, 79, 52);

//fonts
$mainfont:'Roboto', sans-serif;

//sizing text
$textxs:12px;
$textsm:14px;
$textmd:17px;
$textlg:25px;
$textxl:40px;

//font weight

$fontlight:1,300;
$fontbold:0,700;
$fontregular:0,400;

//font style

$mainstyle:italic;

